<h1><%=@dog.name%></h1>
<ul>
    <li><%=@dog.breed%></li>
    <li><%=@dog.age%></li>
    <li>Employees</li>
    <ul>
        <%@employees.each do |employee|%>
            <li><%=employee.to_s%></li>
        <%end%>
    </ul>
</ul>